body{
    margin:0px;
}
.container{
    margin:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container h1{
    font-weight:bold;
    font-size:40px;
    font-family:Times, serif
}

.container #dice{
    width:50px;
}

.container #btn{
    padding:10px;
    width:120px;
    background:rgba(132, 202, 246, 0.966);
    color:white;
    border-radius:10px;
    border:0px solid;
    font-size:24px;
    transition:background-color .2s ease;
    margin:20px
}

.container #btn:hover{
    background-color:rgba(118, 193, 240, 0.966);
}

.container span{
    width:500px;
    height:80px;
    background: #f7f7f7;
    border-radius :10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}