body{
    margin:0px;
    padding:0px;
    background:rgb(232, 230, 230);
}

.container{
    margin-top:80px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.timer{
    font-size:2.5rem;
    font-family:sans-serif;
    color: rgb(0, 149, 255);
    position:relative;
    top:-50px;
}

.header{
    font-size:3rem;
    font-family:sans-serif;
    font-weight:bold;
}

button{
    padding:10px;
    width:80px;
    border:none;
    border-radius:5px;
    text-transform:uppercase;
    cursor:pointer; 
    color:aliceblue;   
    position:relative;
    top:-50px;
}

.start{
    background:rgb(108, 234, 108);
}

.start:hover{
    background:rgb(50, 229, 50);
}

.stop{
    background:rgb(201, 59, 59);
    margin:0 10px;
}

.stop:hover{
    background:rgb(193, 21, 21);
}

.reset{
    background:gray;
}

.reset:hover{
    background:rgb(176, 175, 175);
}