body{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#f9f9f9;
    line-height:1.6;
    text-align: center;
}


.inp{
    margin-bottom:50px;
}

.ilab{
    padding:10px;
    width:300px;
    border-radius:5px;
    border:1px solid #ddd;
}

.btn{
    border:none;
    padding:10px;
    border-radius:5px;
    width:150px;
    background: #5a67cd;
    text-transform:uppercase;
    color:white;
}