body{
    margin:0px;
    padding:0px;
    font-size: 2rem;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:100px;
}

.title{
    font-size: 34px;
    font-family: sans-serif;
    font-weight:bold;
}

.move{
    font-size:24px;
    font-family: sans-serif;
}


button{
    margin:0px 1.5rem;
   padding:0.5rem;
   border-radius: 5px;
    font-size:3rem;
    border:none;
    transition:all 0.3s ease-in-out; 
}

button:hover{
    opacity:70%;
}

.pointsContainer{
    display:flex;
    font-size:20px;

}
.rock{
    background:rgb(214, 66, 66);
}

.papper{
    background:lightgreen;
}

.scissor{
    background:lightblue;
}

.points{
    margin:10px;
}

.humanP{
    color:blue;
}

.computerP{
    color:red;
}
