body{
    margin:0px;
    padding:0px;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:100px;
}

.title{
    font-size: 34px;
    font-family: sans-serif;
    font-weight:bold;
}

.move{
    font-size:24px;
    font-family: sans-serif;
}


button{
    margin:0px 10px;
    width:50px;
    height:50px;
}

.pointsContainer{
    display:flex;
    font-size:20px;

}
.rock{
    font-size:30px;
    background:rgb(214, 66, 66);
}

.papper{
    font-size:30px;
    background:lightgreen;
}

.scissor{
    font-size:30px;
    background:lightblue;
}

.points{
    margin:10px;
}

.humanP{
    color:blue;
}

.computerP{
    color:red;
}
