.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

th {
  background-color: #4caf50;
  color: white;
}
table {
  border-collapse: collapse;
  background-color: #fff;
  width: 70%;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid rgb(218, 209, 209);
}

tr:hover {
  background-color: rgb(209, 218, 226);
}

.filled {
  color: gold;
  cursor: pointer;
}

.notFilled {
  color: black;
  cursor: pointer;
}
