button {
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(12, 129, 145);
  border-radius: 5px;
  width: 150px;
  font-size: 1rem;
  margin: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  text-align: center;
  top: auto;
  position: absolute;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(128, 124, 124);
  width: 70%;
  margin-top: -5px;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  font-weight: bold;
}
