p {
  padding: 5px;
  border: 1px solid rgb(65, 58, 58);
  width: 400px;
  border-radius: 5px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.edit,
.delete {
  cursor: pointer;
}

span {
  margin-left: 5px;
}
